*,*::before,*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    outline: 0px rgb(0, 247, 255) solid;

}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    color: white;
    background-image: url(assets/images/pexels-spencer-davis-4353815.jpg);
    background-size: cover;
    font-family: 'Jost', sans-serif;
}

img, svg, picture, video {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.navlist {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
}

.navitem{
    border-radius: 2em;
    padding: .5em;
    border: #ffffff22 solid 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(15px);
    transition: all 350ms ease;
}

.navitem:hover {
    background-color: rgb(22, 22, 22);
    border: #49494998 solid 4px;
}

.logo {
    width: 120px;
    z-index: 10;
    border: #ffffff22 solid 4px;
    border-radius: 2em;
    background-color: rgba(228, 228, 228, 0.568);
    backdrop-filter: blur(15px);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    0deg, 
    hsla(0, 0%, 5%, 0.81) 10%, 
    hsla(0, 0%, 5%, 0.4) 
    );
    backdrop-filter: blur(1px);
}

.home__section {
    display: grid;
    place-items: center;
}
.home__container {
    text-align: center;
    padding: 7em;
    z-index: 10;
}

.home-title {
    font-size: 3.5rem;
    font-weight: 800;
}

.flex-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2em;
}
.home-button {
    font-size: 2rem;
    border-radius: 1em;
    padding-inline: .5em;
    border: #ffffff22 solid 4px;
    transition: all 300ms ease;
}

.home-button:hover {
    background-color: rgb(22, 22, 22);
    border: #49494998 solid 4px;
}

.dashboard__section {
    margin-right: .5em;
    padding-inline: 5em;
}

.dashboard__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    place-items: center;
}

.imgswiper {
    width: 500px;
    height: 400px;
    box-shadow: 5px 5px 50px 1px #191919;    
    border-radius: 2em;
}
.imgslide{
    object-fit: cover;
    border-radius: 2em;
}
.infoswiper{
    width: 600px;
    height: 500px;
    box-shadow: 5px 5px 50px 1px #191919;    
    border-radius: 2em;
}

.infoslide {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    padding: 1.5em;
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(15px);
    border-radius: 2em;
}

audio {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-text p{
    padding: 1em;
    border-radius: 2em;
    margin-block: .5em;
    height: 12.5em;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4); 
}

.text-title {
    font-size: larger;
    font-weight: 700;
}

.year {
    border-radius: 1em;
    padding: .5em;
    border: #ffffff22 solid 4px;
    backdrop-filter: blur(15px);
}

iframe {
    width: 550px;
    height: 100px;
    border-radius: 1em;
}

.swiper-slide {

}

.swiper-button-prev {
    border-radius: 1.5em;
    padding: 2em;
    border: #ffffff22 solid 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(15px);
    transition: all 300ms ease;
    color: white;    
}
.swiper-button-prev:hover {
    background-color: rgb(22, 22, 22);
    border: #49494998 solid 4px;
}

.swiper-button-next {
    border-radius: 1.5em;
    padding: 2em;
    border: #ffffff22 solid 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(15px);
    transition: all 300ms ease;
    color: white;    
}

.swiper-button-next:hover {
    background-color: rgb(22, 22, 22);
    border: #49494998 solid 4px;
}

.swiper-pagination-bullet-active {
    color: white;
}
